html {
    font-size: 62.5%;
    height: 100%;
}

body {
    margin: 0px;
    height: 100%;
    display: block;
}

#title {
    height: 100%;
}

#list, #reader {
    width: 100%;
    height: 100%;
    background: white;
}

#bookTitle {
    font-variant: small-caps;
    font-size: 120%;
    color: #000;
    cursor: pointer;
    display: block;
    position: absolute;
    top: 0px;
    text-align: center;
}

#reader {
    font-size: 160%;
    text-align: justify;
    padding: 4px;
    height: 100%;
}